* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}
.overflow-container {
  display: flex;
  overflow-x: auto;
  box-shadow: 0px 5px 2px 0px rgba(128, 128, 128, 0.3);
  margin-top: 0.7rem;
}
.navtwo {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 1.5rem;
  padding-right: 10px;
  font-size: 12px;
  justify-content: space-evenly;
  /* scrollbar-width: none; */
  gap: 1.5rem;
  /* border-bottom: 2px solid rgba(0, 0, 0, 0.3); */
}
.overflow-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
div img {
  width: 24px;
  opacity: 0.6;
}
/* div :hover {
  opacity: 1;
} */
/* div img:hover{
    opacity: 1;
} */

.navtwo div {
  /* outline: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;

  border-bottom: 2px solid transparent;
}
/* .navtwo div:hover {
  border-bottom: 1px solid green;
  /* background-color: yellow; */
/* color:rgba(0, 0, 0, 1); */
/* opacity: 1; */
/* }  */
.navtwo div span {
  white-space: nowrap;
  margin-top: 0.25rem;
}

.navtwo div:hover {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* transform: scale(1.1); */
}

.navtwo div.active {
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 2px solid rgba(0, 0, 0, 1);
}

.navtwo div:is(:hover, .active) img {
  opacity: 0.9;
}
