* {
  box-sizing: border-box;
}
.slider-outer {
  height: 32px;
  width: 48px;
  border-radius: 16px;
  background-color: red;
  display: flex;
  align-items: center;
}
.slider-circle-outer {
  /* border: 1px solid black; */
  height: 80%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* padding-left: 7px; */
  /* padding-right: 7px; */
}
.slider-circle {
  height: 24px;
  width: 24px;
  /* border: 1px solid purple; */
  background-color: yellow;
  border-radius: 50%;
  transition: all 1s;
}
input[type="checkbox"]:checked {
  outline: 1px solid green;
}
input[type="checkbox"] {
  outline: 1px solid rgba(0, 255, 0, 0.3);
  display: none;
}
/*              WHEN          */ /*        TO WHOM          */
input[type="checkbox"]:checked ~ label .slider-circle {
  transform: translate(50%);
}
